footer {
  background-color: #1b1629;
  color: #fff;
  min-height: 70vh;
  padding-left: 30px;
  padding-right: 30px;
}
.rrss-cont {
  margin-top: 20px;
}
.list-menu, .mayus-p {
  list-style: none;
  text-transform: uppercase;
  text-align: start;
}
.list-menu > li, .mayus-p, .txt-cont {
  padding-top: 30px;
}
.big-num {
  font-size: 25px;
}
.wsp-icon {
  box-sizing: border-box;
  width: 28px;
  margin-bottom: 1em;
  margin-left: 0.5em;
}
.txt-cont {
  width: 50%;
}
@media screen and (max-width: 800px) {
    .txt-cont {
      width: 100%;
      padding-bottom: 100px;
  }
}
.right-cont {
  @media (min-width: $tablet-width){
    padding: 0px 50px;
  }
}
@media (max-width: $tablet-width) {
  ul {
    padding-left: 0px;
  }
}