.home {
  background-color: #1b1629;
  color: #fff;
}
.columna1-header {
  @media (min-width: $big-tablet-width){
    width: 70%;
    margin-left: 30px;
    padding: 48px;
  }
}
.amp-image {
  width: 70%;
}