<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Evitar redirecciones para archivos existentes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirigir todo a index.html
  RewriteRule ^ index.html [L]
</IfModule>