.btn-purple {
  background-color: #6d44bc;
  color: #fff;
  font-size: 14px;
  padding: 10px 24px 10px 24px;
  text-transform: uppercase;
}
button:hover, .btn-purple-hover:hover {
  text-decoration: none;
  color: #6d44bc; /* Reemplaza "red" con el color que desees */
  background-color: #fff;
  border-color:#6d44bc;
}

