.btn-purple {
  background-color: #6d44bc;
  color: #fff;
  font-size: 14px;
  padding: 10px 24px 10px 24px;
  text-transform: uppercase;
}
.btn-purple:hover, .btn-purple-hover:hover {
  text-decoration: none;
  color: #6d44bc; /* Reemplaza "red" con el color que desees */
  background-color: #fff;
  border-color:#6d44bc;
}

.btn-transparent {
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.1em;
  margin: 30px;
}
.btn-transparent:hover {
  text-decoration: none;
  color: #fff; /* Reemplaza "red" con el color que desees */
  background-color: #6d44bc;
  border: 0px;
}
.btn-fuchsia {
  background-color: $fuchsia;
  color: $white;
  font-size: 14px;
  padding: 11px 20px;
  height: 3rem;
}

.btn-fuchsia:hover {
  color: $fuchsia;
  border-color: $fuchsia;
  background-color: transparent;
  text-decoration: none;
}

.btn-green {
  background-color: #60D66A;
  color: #fff;
  font-size: 14px;
  padding: 10px 24px 10px 24px;
  text-transform: uppercase;
}
.btn-green:hover, .btn-green-hover:hover {
  text-decoration: none;
  color: #60D66A; /* Reemplaza "red" con el color que desees */
  background-color: #fff;
  border-color:#60D66A;
}