.client-card {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-radius: 25px;
  margin: 53px 20px;
  width: 23rem;
  box-shadow: 10px 10px rgb(203, 201, 201);
}
.client-card {
  .card-body {
    padding: 50px;
    overflow-y: hidden;
  }
}

.card-title {
  font-size: 20px;
}
h5 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 300px;
}
.card-text {
  font-size: 15px;
}
.box-img{
  padding: 20px;
}
.whitebg {
  background-color: #fff;
  color: #000;
}
.purplebg {
  background-color: #6d44bc;
  color: #fff;
}
.card-prehome {
  width: 295px;
  height: 360px;
  border-radius: 35px;
  border: 1px solid #6D44BC;
  background: linear-gradient(147deg, #763BFF 3.99%, #C16BF9 100%);
  img {
    padding-top: 32px;
  }
  .card-text {
    padding: 13px 0px 42px;
  }
  .card-body {
    padding: 0px;
  }
}
#cards-section {
  @media (min-width: $desktop-width){
    padding: 0px 150px;
  }
}
.card-prehome-white {
  width: 295px;
  height: 360px;
  border-radius: 35px;
  border: 1px solid #6D44BC;
  background-color: $white;
  .card-text {
    padding: 13px 0px 32px;
  }
  .card-body {
    padding-top: 50px;
  }
  button {
    text-transform: lowercase;
    padding: 11px 30px;
    margin-bottom: 30px;
  }
  .tittle1 {
    font-size: 66px;
  }
}