.client-card {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-radius: 25px;
  margin: 53px 20px;
  width: 23rem;
  box-shadow: 10px 10px rgb(203, 201, 201);
}
.client-card {
  .card-body {
    padding: 50px;
    overflow-y: hideen;
  }
}

.card-title {
  font-size: 20px;
}
h5 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 300px;
}
.card-text {
  font-size: 15px;
}
.box-img{
  padding: 20px;
}
.whitebg {
  background-color: #fff;
  color: #000;
}
.purplebg {
  background-color: #6d44bc;
  color: #fff;
}