.chip {
  padding: 10px 16px;
  border-radius: 20px;
  color: $white;
  background-color: #000;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.peach-bg {
  background-color: $peach;
}
.pink-bg {
  background-color: $pink;
}
.peach2-bg {
  background-color: $peach2;
}
.light-blue-bg {
  background-color: $light-blue;
}
.pink-purple-bg {
  background-color: $pink-purple;
}
.light-purple-bg {
  background-color: $light-purple;
}
.black-bg {
  background-color: black;
}
