.circle-box {
  width: 300px;
  height: 300px;
  border: 1px solid #6d44bc;
  border-radius: 50%;
  padding: 40px;
  display: inline-flex;
  align-items: center;
}
.tittle4 {
  font-size: 40px;
  line-height: 2rem;
}
.cont-btn {
  position: relative;
}
.btn-purple {
  margin-top: -25px;
}