.waves-cont {
  height: 130px;
  background-image: url('@/assets/olas_header.png');
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -1px;
  
  //margin: -5px 0px;
}
.reflect-y {
  transform: scaleY(-1);
  margin-bottom: -1px;
}
.waves-cont-grey {
  height: 130px;
  background-image: url('@/assets/olas_header_grey.png');
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -1px;
  
  //margin: -5px 0px;
}
.bg-grey {
  background-color: #f0f0f0;
}

.waves-cont-purple {
  height: 130px;
  background-image: url('@/assets/olas_purple.png');
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: -1px;
}