//RESPONSIVE
$phone-width: 576px; // sm en BS
$tablet-width: 768px; // md en BS
$big-tablet-width: 992px; // lg en BS
$desktop-width: 1200px; // xl en BS

$fuchsia: #FF3A81;
$white: #fff;
$dark-purple: #1C1729;
$peach: #F4B290;
$pink: #F46DBB;
$peach2: #FFA3A3;
$light-blue: #74C4E2;
$pink-purple: #D8A3FF;
$light-purple: #C1C6FF;
$light-grey: #D9D9D9;

$source-serif: 'Source Serif Pro', serif;