.branding-page {
  background-color: $dark-purple;
  color: $white;
  position: relative;
  @media (min-width: 992px) {
    .columna1-header {
        width: 100%;
        margin-left: 30px;
        padding: 48px;
    }
}
}
.second-container {
  position: relative;
}
.branding-image {
  width: 500px;
  position: absolute;
  right: 0;
  bottom: -100px;
}
.frase-branding {
  padding: 50px 400px;
  font-size: 20px;
}
.bg-grey {
  font-size: 20px;
  .branding-text {
    padding: 0px 55px;
  }
  img {
  width: 100%;
  }
}
.first-row {
  padding-bottom: 148px;
}
.tipos-branding-cont{
  position: absolute;
  bottom: -300px;
}
.proyectos-branding {
  padding-top: 300px;
  .project-img-cont {
    min-height: 414px;
  }
}
.bg-purple {
  background-color: #6D44BC;
  padding: 80px 0px;
  position: relative;
}
.cta-branding {
  background-color: $dark-purple;
  color: $white;
  padding-top: 150px;
  padding-bottom: 50px;
}
.logos-branding {
  padding-top: 50px;
}