.main-title {
  background-color: #1b1629;
  color: #fff;
  min-height: 20vh;
  text-align: center;
  padding: 30px 0px;
}
.mision {
  text-align: center;
  background-color: #f0f0f0;
  padding: 80px 0px;
  p, span {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 30px;
  }
  
}