.pre-home {
  max-height: 100vh;
}
.pre-home-header {
  padding-top: 100px;
  padding-bottom: 300px;
  .tittle-cont {
    @media (min-width: 1400px){
      padding: 0px 350px;
    }
    @media (min-width: $desktop-width){
      padding: 0px 250px;
    }
    padding: 0px 30px;
  }
}
.logo-navbar-temp {
  width: 70px;
  margin: 30px;
}
.footer-temp {
  background-color: #763BFF;
  color: #fff;
  min-height: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.waves-cont-purple {
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -1px;
  overflow-x: hidden;
  margin-top: 100px;
 //margin: -5px 0px;
}
.rrss {
  padding-bottom: 50px;
}
.medium-title {
  font-size: 35px;
  line-height: 50px;
}
.white-box {
  background-color: $white;
  border-radius: 20px;
  padding: 10px 14px;
  width: fit-content;
  margin-top: -20px;
  font-size: 11px;
}
.cards-cont {
  margin-top: -250px;
  .first-card, .third-card {
    margin-top: 80px;
    @media (max-width: $desktop-width) {
      margin-top: 0px;
    }
  }
}
.step-cont {
  margin-bottom: 42px;
  @media (max-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}
