@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Serif+Pro:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  list-style: none;
}

nav {
  padding: 30px;
}

a, ul {
  color: inherit;
  text-decoration: none;
}

a:hover, button:hover router-link a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0px;
}

/* Títulos */
.tittle1 {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 71px;
}

.tittle2 {
  font-family: "Source Serif Pro", serif;
  font-size: 55px;
  margin: 0px;
}

.tittle3 {
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
  margin: 0px;
  font-weight: 700;
}

.tittle4 {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  font-size: 75px;
}

.tittle5 {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  font-size: 65px;
}

.tittle6 {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  font-size: 30px;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Colores */
.white-font {
  color: #fff;
}

.purple-font {
  color: #6d44bc;
}

.fuchsia-text {
  color: #FF3A81;
}

.black-font {
  color: #000;
}

.pink-font {
  color: #FF93F4;
}

.dark-purple-font {
  color: #1C1729;
}

/* Styles */
.uppercase {
  text-transform: uppercase;
}

.no-bold {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.black {
  font-weight: 900;
}

nav {
  background-color: #1b1629;
  color: #fff;
  margin-bottom: -1px;
}

.navbar-toggler {
  border: 0px;
  color: #fff;
}

.logo-navbar {
  height: 70px;
  width: auto;
  margin: 30px 0px;
}

.nav-item {
  padding: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #6d44bc;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px;
}

.rounded-pill {
  text-align: center;
}

.nav-link.router-link-active {
  color: #fff;
}

.nav-link:hover {
  color: #6d44bc;
}

.home {
  background-color: #1b1629;
  color: #fff;
}

@media (min-width: 992px) {
  .columna1-header {
    width: 70%;
    margin-left: 30px;
    padding: 48px;
  }
}

.amp-image {
  width: 70%;
}

footer {
  background-color: #1b1629;
  color: #fff;
  padding: 50px 30px;
}

.rrss-cont {
  margin-top: 20px;
}

.list-menu, .mayus-p {
  list-style: none;
  text-transform: uppercase;
  text-align: start;
}

.list-menu > li, .mayus-p, .txt-cont {
  padding-top: 30px;
}

.big-num {
  font-size: 25px;
}

.wsp-icon {
  box-sizing: border-box;
  width: 28px;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.txt-cont {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .txt-cont {
    width: 100%;
    padding-bottom: 100px;
  }
}
@media (min-width: 768px) {
  .right-cont {
    padding: 0px 50px;
  }
}

@media (max-width: 768px) {
  ul {
    padding-left: 0px;
  }
}
.btn-purple {
  background-color: #6d44bc;
  color: #fff;
  font-size: 14px;
  padding: 10px 24px 10px 24px;
  text-transform: uppercase;
}

.btn-purple:hover, .btn-purple-hover:hover {
  text-decoration: none;
  color: #6d44bc; /* Reemplaza "red" con el color que desees */
  background-color: #fff;
  border-color: #6d44bc;
}

.btn-transparent {
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.1em;
  margin: 30px;
}

.btn-transparent:hover {
  text-decoration: none;
  color: #fff; /* Reemplaza "red" con el color que desees */
  background-color: #6d44bc;
  border: 0px;
}

.btn-fuchsia {
  background-color: #FF3A81;
  color: #fff;
  font-size: 14px;
  padding: 11px 20px;
  height: 3rem;
}

.btn-fuchsia:hover {
  color: #FF3A81;
  border-color: #FF3A81;
  background-color: #fff;
  text-decoration: none;
}

.btn-green {
  background-color: #60D66A;
  color: #fff;
  font-size: 14px;
  padding: 10px 24px 10px 24px;
  text-transform: uppercase;
}

.btn-green:hover, .btn-green-hover:hover {
  text-decoration: none;
  color: #60D66A; /* Reemplaza "red" con el color que desees */
  background-color: #fff;
  border-color: #60D66A;
}

.waves-cont {
  height: 130px;
  background-image: url("@/assets/olas_header.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -1px;
}

.reflect-y {
  transform: scaleY(-1);
  margin-bottom: -1px;
}

.waves-cont-grey {
  height: 130px;
  background-image: url("@/assets/olas_header_grey.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -1px;
}

.bg-grey {
  background-color: #f0f0f0;
}

.waves-cont-purple {
  height: 130px;
  background-image: url("@/assets/olas_purple.png");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: -1px;
}

.card-body {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.product-card {
  width: 360px;
  max-width: 90vw;
  height: 400px;
  box-sizing: border-box;
  background-color: #6d44bc;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 53px;
}

.product-card:hover, .product-card-black:hover {
  background-color: transparent;
  color: #1b1629;
  border: 1px solid #6d44bc;
}

.prod-icon {
  width: 80px;
  margin-top: 10px;
}

.title-box {
  padding: 1rem 3rem 0rem 3rem;
  text-align: center;
}

.card-title {
  font-size: 30px;
}

.card-text {
  font-size: 15px;
  padding-top: 1rem;
}

.product-card-black {
  max-width: 360px;
  height: 400px;
  box-sizing: border-box;
  background-color: #1b1629;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 53px;
}

.product-card-white:hover {
  background-color: #6d44bc;
  color: #fff;
  border: 0px solid transparent;
}

.product-card-white {
  width: 360px;
  height: 400px;
  background-color: #fff;
  color: #1b1629;
  border-radius: 25px;
  margin-bottom: 53px;
  border: 1px solid #1b1629;
}

.arrow_right_black svg path {
  stroke: #1b1629;
}

.arrow-cont {
  margin-top: 30px;
}

.big-cont {
  display: grid;
  place-items: center;
}

.circle-box {
  width: 300px;
  height: 300px;
  border: 1px solid #6d44bc;
  border-radius: 50%;
  padding: 40px;
  display: inline-flex;
  align-items: center;
  overflow-y: hidden;
}

.tittle4 {
  font-size: 40px;
  line-height: 2.6rem;
  overflow-y: hidden;
  margin-bottom: 0px;
}

.cont-btn {
  margin: -25px;
}

#carouselBrands {
  margin: 100px 0px 50px;
}

.carousel-inner-logos {
  padding: 70px;
}

@media (min-width: 750px) {
  .carousel-inner-logos {
    display: flex;
  }
  .carousel-item-logos {
    display: block;
    margin-right: 0;
    flex: 0 0 25%;
  }
}
.carousel-brands {
  width: 90%;
  height: auto;
  margin: auto;
}

.carousel-inner-brands {
  border-radius: 8%;
  width: 100%;
}

.brand-logo {
  max-width: 80%;
}

.carousel-inner .col-6 {
  display: grid;
  place-items: center;
}

.box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  opacity: 1;
  transition: 0.3s;
}

.box:hover img {
  opacity: 80%;
}

.box {
  padding: 8px;
  box-sizing: border-box;
}

.d-flex-schn {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.client-card {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-radius: 25px;
  margin: 53px 20px;
  width: 23rem;
  box-shadow: 10px 10px rgb(203, 201, 201);
}

.client-card .card-body {
  padding: 50px;
  overflow-y: hidden;
}

.card-title {
  font-size: 20px;
}

h5 {
  font-family: "Source Serif Pro", serif;
  font-weight: 300px;
}

.card-text {
  font-size: 15px;
}

.box-img {
  padding: 20px;
}

.whitebg {
  background-color: #fff;
  color: #000;
}

.purplebg {
  background-color: #6d44bc;
  color: #fff;
}

.card-prehome {
  width: 295px;
  height: 360px;
  border-radius: 35px;
  border: 1px solid #6D44BC;
  background: linear-gradient(147deg, #763BFF 3.99%, #C16BF9 100%);
}
.card-prehome img {
  padding-top: 32px;
}
.card-prehome .card-text {
  padding: 13px 0px 32px;
}
.card-prehome .card-body {
  padding: 0px;
}

@media (min-width: 1200px) {
  #cards-section {
    padding: 0px 150px;
  }
}

.card-prehome-white {
  width: 295px;
  height: 360px;
  border-radius: 35px;
  border: 1px solid #6D44BC;
  background-color: #fff;
}
.card-prehome-white .card-text {
  padding: 13px 0px 50px;
}
.card-prehome-white .card-body {
  padding-top: 50px;
}
.card-prehome-white button {
  text-transform: capitalize;
  padding: 11px 30px;
  margin-bottom: 30px;
}
.card-prehome-white .tittle1 {
  font-size: 66px;
}

.chip {
  padding: 10px 16px;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.peach-bg {
  background-color: #F4B290;
}

.pink-bg {
  background-color: #F46DBB;
}

.peach2-bg {
  background-color: #FFA3A3;
}

.light-blue-bg {
  background-color: #74C4E2;
}

.pink-purple-bg {
  background-color: #D8A3FF;
}

.light-purple-bg {
  background-color: #C1C6FF;
}

.black-bg {
  background-color: black;
}

.list-item {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  font-size: 25px;
}

.list-item img {
  width: 30px;
  margin: 10px;
}

@media (max-width: 500px) {
  .list-item img {
    width: 20px;
    margin: 5px;
  }
  .list-item {
    font-size: 20px;
  }
}
.purple-big-circle {
  position: absolute;
  z-index: -1;
  margin-top: -80px;
}

#lo-que-hacemos {
  padding-bottom: 50px;
}

.pre-home {
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow-y: hidden;
}

.pre-home-header {
  padding-top: 0px;
  padding-bottom: 200px;
}
.pre-home-header .tittle-cont {
  padding: 0px 30px;
}
@media (min-width: 1400px) {
  .pre-home-header .tittle-cont {
    padding: 0px 350px;
  }
}
@media (min-width: 1200px) {
  .pre-home-header .tittle-cont {
    padding: 0px 250px;
  }
}

.logo-navbar-temp {
  width: 70px;
  margin: 30px;
}

.footer-temp {
  background-color: #763BFF;
  color: #fff;
  min-height: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.footer-temp img {
  padding-top: 4px;
}

.pre-home .waves-cont-purple {
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -1px;
  margin-top: 100px;
}

.rrss {
  padding-bottom: 50px;
}

.medium-title {
  font-size: 35px;
  line-height: 50px;
}

.white-box {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 14px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -20px;
  font-size: 11px;
}

.cards-cont {
  margin-top: -250px;
}
.cards-cont .first-card, .cards-cont .third-card {
  margin-top: 80px;
}
@media (max-width: 992px) {
  .cards-cont .first-card, .cards-cont .third-card {
    margin-top: 0px;
  }
}

.step-cont {
  margin-bottom: 42px;
}
@media (max-width: 1500px) {
  .step-cont {
    display: flex;
    justify-content: center;
  }
}

.rrss-icon {
  opacity: 1;
  transition: opacity 0.3s;
}

.rrss-icon:hover {
  opacity: 0.6;
}

.main-title {
  background-color: #1b1629;
  color: #fff;
  min-height: 20vh;
  text-align: center;
  padding: 30px 0px;
}

.mision {
  text-align: center;
  background-color: #f0f0f0;
  padding: 80px 0px;
}
.mision p, .mision span {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1300px) {
  .mision .container {
    padding: 0px 250px;
  }
}

#somos {
  background-color: #6D44BC;
  padding: 100px 0px;
}
#somos img {
  width: 275px;
}
#somos .row {
  margin: 50px 0px;
}

.valores {
  padding: 70px 0px;
  text-align: center;
}
.valores img {
  max-width: 963px;
}

#otros-colab {
  padding: 50px 0px;
}
#otros-colab img {
  max-width: 237px;
}

.frase-proyectos {
  text-align: center;
  background-color: #f0f0f0;
  padding: 40px 0px;
}
.frase-proyectos p, .frase-proyectos span {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  font-size: 30px;
}

.texto-proyecto {
  border: 1px solid #D9D9D9;
  width: 408px;
  height: 408px;
  border-radius: 20px;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-proyectos img {
  max-width: 100%;
}

.autor-test {
  font-family: "Source Serif Pro", serif;
  font-size: 16px;
  padding-top: 20px;
}

.project-img-cont {
  max-height: 300px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #D9D9D9;
}

.carousel-control-next {
  display: flex;
  justify-content: flex-end;
}

.carousel-control-prev {
  display: flex;
  justify-content: flex-start;
}/*# sourceMappingURL=style.css.map */